@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0px;
    padding: 0px;
}

  @media (min-width: 150px) and (max-width: 240px) {
    .name{
        color: red;
        font-size: 7px;
    }
    .plus{
      font-size: 9px;
      padding: 
      1px
      ;
    }
    .plus-1{
      font-size: 12px;
      padding: 0;
    }
    .minus{
      font-size: 12px;
      padding: 0;

    }

    .delete{
      font-size: 10px;
      padding: 4px;
      margin-left: 15px;
    }
    
  }